body {
    background:#ffffff;
    font:"Microsoft YaHei",Helvetica,Arial,Lucida Grande,Tahoma,sans-serif;
    font-size:14px ;
    line-height: 180%;
    color:#333;
}

/*Adapt to different screen like different iphone */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*cheng du background */
.chengdu {
    padding-top: 24px;
    padding-bottom:54px;
    padding-left:100px;
}

/*american background */
.american {
    padding-top: 14px;
    padding-left:200px;
}

/*the table style*/
.table, .table * {
    margin: 15px;
    padding: 0;
}

.table{
    display:table;
    width:50%;
}

.table-tr {
    display:table-row; 
    height: 35px;
}  

.table-th {
    display: table-cell;
    font-weight: bold;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

.table-td {
    display: table-cell;
    height: 50%;
    border-width:1px 0;
    border-style:solid;
    text-align: center;
    vertical-align: middle;
}

/* a style*/
a:hover {
    color: #000000;
}
/*nav*/

.navbar-default {
    background-color: #ffffff;
}

.menu {
    text-align: center;
}

.menu,
.menu-list {
    padding: 0;
    margin: 0;
}

    .menu li {
        font-size: 14px;
        list-style: none;
        display: inline-block;
        position: relative;
        height: 4em;
    }

        .nav-current {
            border-bottom: 2px solid #19ef0b;
            margin-bottom: -2px;
        }

        .menu li a {
            font-size: 14px;
            color: #000;
            line-height: 4em;
            display: block;
            margin: 0 21px;
            text-decoration: none;
        }

            .menu li a img {
                height: 3em;
            }

.menu-list {
    padding: 1em;
    line-height: 2em;
}

.menu-list-sub {
    font-size: 14px;
    padding-left: 10em;
}

li.menu-list-sub a {
    font-weight: 400;
    height: 4em;
    margin: 0;
    display: inline-block;
    color: #696262;
}

.nav-right-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(../img/Career/thinkgeo_right_logo.png);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    position: relative;
    margin: -0.5em 0.2em;
}
/* the sign*/
#arrow1, #arrow2 {
    border: 3px solid #5E37AA;
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 8px;
    -moz-transform-origin: center center;
    -moz-transform: rotate(45deg);
    -moz-transition: all .5s ease-in .1s;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -webkit-transition: all .5s ease-in .1s;
    -o-transform-origin: center center;
    -o-transform: rotate(45deg);
    -o-transition: all .5s ease-in .1s;
    -ms-transform-origin: center center;
    -ms-transform: rotate(45deg);
    -ms-transition: all .5s ease-in .1s;
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: all .5s ease-in .1s;
    width: 8px;
}
