body {
    background:#ffffff;
    font:"Microsoft YaHei",Helvetica,Arial,Lucida Grande,Tahoma,sans-serif;
    font-size:14px ;
    line-height: 180%;
    color:#777;
}

.content-container{
    padding-left:35px;
}

/*Adapt to different screen like different iphone */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* a style*/
a:hover {
    color: #000000;
}


/*nav*/
small {
    font-family: "";
    color: #D3D3D3
}

.navbar-default {
    background-color: #ffffff;
}

.menu {
    text-align: center;
}

.menu,
.menu-list {
    padding: 0;
    margin: 0;
}

.menu li {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    position: relative;
    /*height: 4.5em;*/
}

.menu li.nav-current a {
    border-bottom: 2px solid #85C849;
    margin-bottom: -2px;
}

.menu li a {
    font-size: 16px;
    color: #000;
    line-height: 4.5em;
    display: block;
    margin: 0 21px;
    text-decoration: none;
}

.menu-list {
    padding: 1em;
    line-height: 2em;
}

.menu-list-sub {
    font-size: 16px;
    margin-left: 8em;
}

li.menu-list-sub a {
    font-size: 13px;
    font-weight: 400;
    height: 4.5em;
    margin: 0;
    display: inline-block;
    color: #696262;
}

.nav-right-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(../../img/Career/thinkgeo_right_logo.png);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    position: relative;
    margin: -0.5em 0.2em;
}

/*container*/
.page-header {
    margin-left:55px;
    margin-right:30px;
}

.page-header h2 {
    margin-left:30px;
    margin-bottom:50px;
    font-size: 26px;
}

.page-header {
    
    border: none;
}  

.content-choice{
    margin-left:55px;
    margin-right:30px;
}
.content-choice li{
    margin-left:30px;
    margin-bottom:50px;
}
.content-choice a{
	color: #000;
	border: 1px solid #FF0000;
	padding: 1px;
	text-decoration: none;
}
/*cheng du background */
.chengdu {
    padding-top: 24px;
    padding-bottom:54px;
    padding-left:100px;
}

/*american background */
.american {
    padding-top: 10px;
    padding-left:200px;
}

.page-content{
    margin-left:55px;
    margin-right:30px;
}

.page-content p{
    margin-left:34px;
}



/*the table style*/
.table, .table * {
    margin-left:34px;
    padding: 0;
}

.table{
    display:table;
    width:50%;
}

.table-header{
    text-align:center;
    font-size: 25px;
    color:#6F3C86
}
.table-tr {
    display:table-row; 
    height: 35px;
}  

.table-th {
    display: table-cell;
    font-weight: bold;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

.table-td {
    display: table-cell;
    height: 50%;
    border-width:1px 0;
    border-style:solid;
    text-align: center;
    vertical-align: middle;
}

/*footer*/
.footer {
    color: #ffffff;
    background-color: #515151;
    height: 18em;
    overflow-x: hidden;
}

.footer .row > div {
    top: 4em;
}

.footer div,
.footer-detail a,
.footer p {
    color: #ffffff;
}

.footer p {
    color: #ffffff;
    line-height: 2em;
    letter-spacing: 0.1em
}

.footer-left-logo {
    text-align: right;
    position: relative;
    top: 2em;
}

.footer-detail {
    margin: 3em 0 0 0;
}




















/* the sign*/
#arrow1, #arrow2 {
    border: 3px solid #5E37AA;
    border-width: 0 3px 3px 0;
    display: inline-block;
    height: 8px;
    -moz-transform-origin: center center;
    -moz-transform: rotate(45deg);
    -moz-transition: all .5s ease-in .1s;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -webkit-transition: all .5s ease-in .1s;
    -o-transform-origin: center center;
    -o-transform: rotate(45deg);
    -o-transition: all .5s ease-in .1s;
    -ms-transform-origin: center center;
    -ms-transform: rotate(45deg);
    -ms-transition: all .5s ease-in .1s;
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: all .5s ease-in .1s;
    width: 8px;
}












#main-nav {
            margin-left: 1px;
        }

            #main-nav.nav-tabs.nav-stacked > li > a {
                padding: 10px 8px;
                font-size: 12px;
                font-weight: 600;
                color: #4A515B;
                background: #E9E9E9;
                background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
                background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
                border: 1px solid #D5D5D5;
                border-radius: 4px;
            }

                #main-nav.nav-tabs.nav-stacked > li > a > span {
                    color: #4A515B;
                }

                #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
                    color: #FFF;
                    background: #3C4049;
                    background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
                    background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
                    border-color: #2B2E33;
                }

                    #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
                        color: #FFF;
                    }

            #main-nav.nav-tabs.nav-stacked > li {
                margin-bottom: 4px;
            }