* {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;   
}
body {
    min-width:400px;
}
img {
    max-width: 100%;
    height: auto;  
}
.navbar-default {
    background-color: #ffffff;
    border-bottom-color:#e7e7e7;
}

.menu,
.menu-list {
    padding: 0;
    margin: 0;
    text-align: center;
    height:58px;
}
    .menu img {
    margin-bottom:20px;

    }

    .menu li {
        font-size: 14px;
        list-style: none;
        display: inline-block;
        position: relative;
        height: 4em;
    }

        .menu li.nav-current a {
            border-bottom: 2px solid #19ef0b;          
        }

        .menu li a {
            font-size: 16px;
            color: #000;
            line-height: 55px;
            display: block;
            margin: 0 21px;
            text-decoration: none;
        }

            .menu li a img {
                height: 3em;
            }

.menu-list-sub {
    font-size: 14px;    
    padding-left: 7em;
}

li.menu-list-sub a {
    font-size:13px;
    font-weight: 400;
    height: 4em;
    margin: 0;
    display: inline-block;
    color: #696262;
}

@media (min-width:768px) {   
    .container {
        margin-left:auto;
        margin-right:auto;
        padding:0;
    }
    .menu-list-sub {        
        padding-left: 0;
        margin-left:13px;
}
    .menu {
        float:left;  
        margin-left:auto;
        margin-right:auto;     
    }
        .menu li {
        font-size:10px;
        }
    .menu li a {
            font-size: 16px;
            color: #000;
            line-height: 55px;           
            margin: 0 1px;
            text-decoration: none;
        }
    li.menu-list-sub a {
        font-size: 8px;        
    }
}

@media (min-width:992px) {
    .img {
        background-size:50%;
    }
     .menu-list-sub {               
        margin-left:35px;
    }
    .menu li.menu-list-sub a {
        font-size: 13px;        
    }
    .menu {
        float:none;             
    }
    .menu img {       
            max-width:100%;
            height:auto;
    }
    .menu li a {
            font-size: 15px;
            color: #000;
            line-height: 55px;           
            margin-left:15px;
            margin-right:15px;
            text-decoration: none;
        }
    .container {
        width:100%;
        margin-left:auto;
        margin-right:auto;
        padding:0;
    }
}

@media (min-width: 1200px){
    .container { 
        margin-left:auto;
        margin-right:auto;
    }
    .menu {
        text-align:center;
    }
    .menu img {       
            max-width:100%;
            height:auto;
    }
    .menu li a {
           font-size: 17px;
           margin:0 10px;
        }
    .menu-list-sub  {
        font-size: 13px;
        margin-left:80px;
        padding-right:10px;       
    }
        .menu li.nav-current a {
            padding-bottom:-10px;          
        }
}
.nav-right-icon {
    display: inline-block;
    background-image: url(/img/Products_services/thinkgeo_right_logo.png);
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    position: relative;
    margin: -7px 0;
}

.row {
    height: auto;
    border: 0 solid gray;   
    margin-left:auto;
    margin-right:auto;
    line-height:160%;
}
    .row h2 {
    margin-top:70px;
    }
    .row h3 {
        margin-top:50px;
    }
    .row p {
        letter-spacing:1px;
        margin-top:30px;
    }
    .row ul {
        letter-spacing:1px;
        margin:auto;
    }

    .row img {
        margin:70px 0;
        padding-left:50px;
    }

.row-first {
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
}
.row-first-textone {
    font-size:2.4em;
    width:5em;
    padding-left:0;
}
.row-first-texttwo {
    font-weight:bold;
    color:gray; 
    font-size:1em;
    width:auto;
    top:.7em;
    padding-left:0;
}
.row-second {
    background-color:#f4f4f4;
    margin-left:auto;
    margin-right:auto;
}
    .row-second img {
        max-width: 90%;
        margin:50px 0;
        padding-left:0;
        padding-right:30px;
    }
    .row-second h2 {
        margin-top: 50px;
    }
    .row-second p {
        margin-top: 30px;
    }

@media (min-width: 768px)
{
    .row {
    margin-left:auto;
    margin-right:auto;
    }
    .footer
    {
        height:12em;
    }
    .navbar-header img
    {
        display:none;
    }
    .footer img {
        text-align:center;
        margin:25px 0;
    }
}
@media (max-width: 768px)
{     
    .menu img
    {
        display:none;
    }
    .footer img {
        margin:0;
    }
}

@media (min-width: 992px)
{
    .row
    {
        width:960px;
        max-width: 970px;
    }
    .footer
    {
        height:10em;
        width:960px;
    }
}
.gray-bachground
{
    height: auto; 
    background-color: #f4f4f4;
}

.row-fourth {
    background-color:#f4f4f4;
}
    .row-fourth h1 {
        text-align:center;
        font-size:3em;
        margin-top:40px;
    }
    .row-fourth p {
        font-size:1.2em;
    }
    .row-fourth img {        
        margin:10px 0;
        padding-left:0;
    }
.breadcrumb{        
    background-color:#4c4c4c;    
}
    .breadcrumb a {
        color:white;
    }
.footer {
    padding-top:30px;
    background-color:#4c4c4c;
    color:white;
    border: 0 solid gray;
    margin-right: auto;
    margin-left: auto;
}
#footer {
    height:auto;
    background-color:#4c4c4c;
}

    .footer p {
        letter-spacing:1px;
        line-height:2;
        font-size:.7em;
    }
    .footer ul {
        color:white;
    }
    .footer a {
        color:white;
    }
    .footer img {
        text-align:center;
    }
.button {
    font-size:15px;
    align-content:center;
    background-color:#2B669A;
    color:white;
    width:auto;
    height:40px;
    margin:50px 0 35px 20px;
    padding:9px 15px;
}

