
#slides {
    position: relative;
    width: 100%;
}

    #slides div {
        cursor: pointer;
    }

    /*Let the pictures can overlap*/
    #slides img {
        position: relative;
        display: none;
    }

        /*current img style*/
        #slides img.active {
            display: block;
        }

/*pages*/


#pages {
    text-align: center; /* pages horizontal center*/
}

    #pages .page {
        display: inline-block;
        zoom: 1; /**/
        border-radius: 10px;
    }

    /*not current page*/
    #pages span {
        /*a block element can by set width,height,padding,margin*/
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        /**/
        filter: Alpha(Opacity=50);
        opacity: .5;
        background: #869791;
        /*Browser compatibility*/
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    /*current page*/
    #pages .page.active span {
        display: block;
        width: 12px;
        height: 12px;
        margin: 5px 7px;
        filter: Alpha(Opacity=50);
        opacity: 1; /**/
        background: #ffffff; /**/
        border: 2px solid #1AE6E6; /**/
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    #pages span {
        cursor: pointer;
    }
