  /*>768px the navbar_left li padding*/
        .navbar-left li {
            padding: 0 0.8em;
        }

        .navbar-default .navbar-nav > li > a {
            font-size:larger;
            color: #000;
        }

        .navbar-default .navbar-right > li > a {
            font-size: 0.9em;
            color: #777;
        }

        /*<768px, the small nav button is appear, so the navbar_right should vertical*/
        @media (max-width:768px) {

            /*# nav*/
         .navbar-nav > li > a, .navbar-nav li {
                margin: 0;
                padding: 0;
            }
            /*arrangement*/
            .navbar-collapse {
                text-align: center;
            }
            /*## font color,and the li hover*/


            .navbar-default .navbar-nav > li > a {
                color: #777;
            }

            .navbar-default .navbar-nav > li:hover {
                background-color: #e3e3e3;
            }

            .navbar-right li {
                display: block;
            }

            .navbar-right ul {
                text-align: center;
            }

            .navbar-left {
                border-bottom: 1px solid #2764e2;
            }

            .vertical_bar {
                display: none;
            }

            /*## the nav container*/
            .container {
                padding: 0;
            }

            #example-navbar-collapse, .navbar-left, .navbar-right {
                margin: 0;
                padding: 0;
            }
        }