body {
}

#news {
    min-width:600px;
}

.news_title {
    font-size: 1.3em;
    font-weight: bold;
}

#News_container {
    padding: 1.2em 0em 0.6em 0em;
}

#News_En {
    font-size: 0.6em;
}

.news_item {
      padding: 1em 5em;
}

.news_caption {
    padding:1em 0em;
}

.hr_inner {
    margin-left: 2em;
    margin-right: 2em;
}

.btn {
    padding: 0;
    font-weight: bold;
}

.row {
    margin-left:0;
    margin-right:0;
}
