body {
    min-width: 320px;
}

a {
    font-family: Microsoft YaHei;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

#news {
    min-width: 300px;
}

/*News header*/
#news_Ch {
    font-family: Microsoft YaHei;
    font-size: 2.25em;
}

#news_En {
    font-size: 0.5em;
    font-weight: bold;
    color: rgb(144, 145, 145);
}

.navbar-toggle {
    margin-top:15px;
}

@media (max-width: 960px ) {
    .news_item {
        padding: 0em 1em;
    }
}

@media (min-width:960px) {
    .news_item {
        padding: 0em 5em;
    }
}

@media (min-width:1024px) {
    #news_container {
        max-width: 960px;
        margin:0 auto;
    }
    #header_container {
        max-width: 960px;
        margin:0 auto;
    }
}

@media (min-width:1150px) {
    #news_container {
        max-width: 1024px;
        margin:0 auto;
    }
    #header_container {
        max-width: 1024px;
        margin:0 auto;
    }
}

/*News body*/
#News_container {
    padding: 1.2em 0em 0.6em 0em;
}

.news_title {
    font-size: 1.3em;
    font-weight: bold;
}

.news_caption {
    padding: 1em 0em;
}

.hr_inner {
    margin-left: 2em;
    margin-right: 2em;
}

.btn {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

hr {
    margin-top: 2em;
    margin-bottom: 1em;
}


.navbar-header a {
    line-height: 63px;
}

.navbar-collapse {
    max-height: 100%;
}

.navbar, .navbar-default {
    background: #fff;
    border-width: 0 0 1px 0;
    border-radius: 0;
    box-shadow: 0 0 5px 0 #E3E3E3;
    /*height:80px;*/
    /*padding:5px 0;*/
}

div#example-navbar-collapse {
    padding-left: 0;
    margin: 5px 0;
    list-style: none;
}

.navbar-nav > li > a {
    line-height: 75px;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width:905px ) {
    .navbar-left > li > a {
        font-size: 0.95em;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav > li > a {
        font-size: 1em;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-right li {
        display: inline-block;
        margin: 0 25px;
    }

    .navbar-left {
        border-bottom: 1px solid #19ef0b;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-right li {
        margin: 0 8px;
    }
}

@media only screen and (min-width: 768px) {
    .navbar, .navbar-default {
        height:80px;
    }

    .currentnavbar {
        border-bottom: 1px solid #19ef0b;
    }
}

.navbar-left a {
    font-size: larger;
    color: black;
}

@media only screen and (min-height: 800px) {
    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: 20px;
    }
}

@media only screen and (min-height: 768px) {
    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: -5px;
    }
}

.navbar-right a {
    font-size: smaller;
    color: black;
}

/*footer*/
#footer-content {
    text-align: center;
    margin: 0 auto;
    background: #4d4d4d;
    height: 18em;
    color: #FFFFFF;
}

#footer-container {
    /*position: relative;
    left: 200px;*/
    width: 1024px;
    margin: 0 auto;
    padding-top: 3em;
}


#company-logo {
    width: 121px;
    height: 24px;
    margin-top: 5em;
    float: left;
    background-image: url(../../img/Career/top_thinkgeo_logo.png);
    background-repeat: no-repeat;
}

#company-introduction {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

#partnershow {
    width: 288px;
    height: 68px;
    float: left;
    margin-top: 4em;
    background-image: url(../../img/Career/thinkgeo_bottom_logo.png);
    background-repeat: no-repeat;
}

#introduction {
    font-size: 0.95em;
    line-height: 250%;
    text-align: left;
    font-family: monospace;
}

@media only screen and (min-width: 1150px) {
    #company-introduction {
        max-width: 580px;
    }
}

@media only screen and (max-width: 1150px) {
    #company-logo, #partnershow {
        float:none;
        width: 0;
        height: 0;
        background-image: url();
    }

    #footer-container {
        width: auto;
        padding: 0;
    }

    #company-introduction {
        padding: 2em;
    }
}

.footer-detail a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: monospace;
    font-size: 0.95em;
}

.footer-detail {
    margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    #footer-content {
        height: 2em;
        text-align: center;
    }

    #introduction {
        display: none;
    }

    .footer-detail {
        margin: 0;
    }

    #company-introduction {
        width: auto;
        float: none;
        padding: 0;
    }
}